body {
  margin: auto;
  width: 70%;
  text-align: center;
  /* font-family: sans-serif; */
}

#albumImage {
    border-radius: 6px;
    box-shadow: 0 3px 12px #b8b8b8;
    margin-right: 2rem;
}
#currentPlaying {
  color: green;
  /* text-decoration: underline; */
}


#noSong {
  color: red;
}

h1 {
  margin-top: 20px;
}
h4 {
  margin-bottom: 0px;
}

button {
  margin-top: 20px;
  width: 150;
  height: 30;
  border-radius: 3px;
  font-weight: 500;
  /* transition-duration: .2s; */
  /* box-shadow: 0 1px 5px #b8b8b8;   */
  /* background-color: yel; */
  /* opacity: 0.5; */
}

button:hover {
  background-color: rgb(221, 221, 221);
  color: black;
  fill-opacity: 0.5;
  /* margin-bottom: 100px; */
  /* border: none; */

}