body {
/* background-image: linear-gradient(to right, #f5f7fa , #c3cfe2); */
  margin: auto;
  width: 70%;
  text-align: center;
  /* font-family: sans-serif; */
}

#albumImage {
    border-radius: 6px;
    box-shadow: 0 3px 12px #b8b8b8;
    margin-right: 2rem;
}
#currentPlaying {
  color: green;
  text-decoration: underline;
}

#noSong {
  color: red;
}

h4 {
  margin-bottom: 0px;
}

button {
  margin-top: 20px;
}